<div class="card">
    <div class="card-img" style="background-image: url({{urlImagen}})"></div>
    <div class="card-title">{{nombre}}</div>
    <div class="card-text">{{descripcion}}</div>
    <div class="card-nav">
        <button class="btn btn-volver"></button>
        <div class="card-price">
            <span class="card-price-currency">$</span>
            <span class="card-prince-value">{{precio}}</span>
        </div>
        <button class="btn btn-success btn-add"></button>
    </div>
</div>
